// ==========================================================================
// Cards
// ==========================================================================
.cards-wrapper{
    margin: em(20px) 0;
}
.rider-card-wrapper{
    display: inline-block;
    background-color: $bg-card;
    margin: em(10px);
    width: em(240px) !important;
    border-radius: em(8px);
    box-shadow: em(1px) em(2px) em(8px) $shadow;
}
.rider-image{
    position: relative;
    display: inline-block;
    img{
        @include transition(opacity 300ms);
        opacity: 1;
        border-radius: 4px 4px 0 0;
        filter: alpha(opacity=100);
    }
    .victories {
        position: absolute;
        top: em(8px);
        left: em(4px);
        background: $overlay-black;
        width: em(45px);
        height: em(45px);
        border-radius: em(33px);
        padding: em(6px) 0 0 0;
        color: $yellow-tour;
        .fa-trophy{
            font-size: $biggest__font-size;
        }
    }
    .rider-flag {
        position: absolute;
        height: em(28px);
        width: em(28px);
        top: em(8px);
        right: em(12px);
    }
}

.help-arrow-streamline-target {
    font-size: 15px;
}
.team-name-wrapper {
    color: #fff;
    background-color: rgba(0,0,0,0.8);
    float: left;
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 4px 0;
    position: absolute;
    bottom: 0;
}
.member-meta {
    padding: 10px 0;
    font-size: 13px;
}
.member-meta{
    text-decoration: none;
    color: #333;
}
.member-meta small{
    text-decoration: none!important;
}
.yellow {
    color: #A0961A;
}
.card-name{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
}
.btn-more-wrapper {
    width: 87%!important;
    margin: 0 auto;
}
.btn-color.btn-outline:focus,.btn-color.btn-outline {
    background-color: transparent;
    color: #000000;
        font-size: 11px;
    border-color: #000000;
        padding: 16.5px 16px;
    outline: 0;
        -webkit-box-shadow: none;
    box-shadow:none;
}
.btn-color.btn-outline:hover, .btn-color.btn-outline:active, .btn-color.btn-outline.active {
    background-color: #000000;
    color: #e6e6e6;
}
.best-positions {
    margin: 15px 0 0 0;
}
.best-position {
    width: 25%;
    padding: 15px 10px;
}
.best-position.giro {
    background-color: #e8a0b2;
    border-radius: 0 0 0 4px;
    color: #333;
}
.victories-wrapper {
    padding: 10px 0 0 0;
    margin: 5px auto;
    background-color: rgba(255,255,255,0.4);
    width: 40px;
    height: 40px;
    border-radius: 20px;
}
.victories-wrapper .fa-trophy {
    color: #000;
}
.best-position.tour {
    background-color: #e4d49e;
    color: #333;
}
.best-position.vuelta {
    background-color: #c96466;
    color: #000000;
}
.best-position.worldcup {
    background-color: #eee;
    border-radius: 0 0 4px 0;
    padding: 0 0 15px;
    color: #333;
}
.uci-flag {
    border-top: 2px solid #007abe;
    border-bottom: 2px solid #39a640;
    margin-bottom: 5px;
}
.inner-flag {
    border-top: 2px solid #d92933;
    border-bottom: 2px solid #ffec00;
}
.black-stripe {
    border-bottom: 2px solid #000;
}
.victories-wrapper.wc {
    margin: 5px 0 0 10px;
}

//INDIVIDUAL CARD
.panel {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.no-b {
  border: 0;
}
.no-m {
  margin: 0;
}
.no-p{
    padding: 0!important;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eaecf6;
}
.panel-default > .panel-heading a {
  color: #59595a;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eaecf6;
}
.panel-primary {
  border-color: #1582dc;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #1582dc;
  border-color: #1582dc;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #1582dc;
}
.main-rider-card{
    background-color: #e5e6d6;
    box-shadow: 1px 2px 8px #999;
    border-radius:4px;
}
.main-rider-card img{
    margin: 0 auto;
    width: 250px;
}
.rider-type.big-card{
    font-size:18px;
}
.card-frame{
    border: 7px solid #CBCCB7;
  max-width: 250px;
  margin: 15px auto;
  max-height: 250px;
  overflow: hidden;
  border-radius: 185px;
}
img.big-card-flag{
    width:18px;
    height: 18px;
    margin: -3px 0 0 0;
}
.victories-title{
  margin: 40px 0 0;
  font-weight: bold;
  font-size: 15px;
}
.victories-wrapper-card {
  padding: 20px 0 0 8px;
  margin: 5px 0 0 0;
  background-color: rgba(255,255,255,0.4);
  width: 70px;
  height: 70px;
  border-radius: 52px;
  font-size: 19px;
  margin: 20px auto;
}
.best-position-card.giro {
    background-color: #e8a0b2;
    border-radius: 0 0 0 4px;
    color: #333;
}
.best-position-card.tour {
    background-color: #e4d49e;
    color: #333;
}
.best-position-card.vuelta {
    background-color: #c96466;
    color: #000000;
    border-radius: 0 0 4px 0;
}
.p10 {
  padding: 10px;
}
.panel-black {
  border-color: #eee;
  background-color: #eee;
  border-radius: 6px!important;
}
.little-jersey{
    width: 40px;
    height: 50px;
}
.palmacard .panel-heading {
    border-color: #333;
        background-color: #e5e6d6;
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}
.palmacard:first-child .panel-heading {
    border-top-left-radius: 6px!important;
    border-top-right-radius: 6px!important;
}
.card-total-victories{
      font-size: 15px;
    border: 1px solid #A0961A;
    width: 50px;
    height: 50px;
    padding: 12px 0 0 0px;
    border-radius: 30px;
    text-align: center;
}
.yellow-tour{
    color: #E0E006;
}
.season-year{
    font-size: 18px;
    font-weight: bold;
    margin: 11px 10px 0 0;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-bottom: 1px solid #ddd;
    border-top: 0;
}
.palmares-table {
    margin-bottom: 0;
}
.team-season{
    margin: 11px 10px 0 0;
}
.table > thead > tr > th {
    font-weight: 600;
    font-size:12px;
    border-bottom: 1px solid #E5E6D6;
}
th.cup, td.cup{
    width:10px;
    padding-top: 11px!important;
}
td{
    font-size:13px;
}
td.position{
    text-align:right;
    width:20px;
}
td.stages{
    text-align:left;
}
