// ==========================================================================
// Footer
// ==========================================================================
footer{
    padding:em(30px) 0;
    ul{
        padding:0;
        margin:0 0 em(15px);
        li{
            list-style:none;
            display: inline;
            margin: 0 em(5px);
        }
    }
}
.btn-social-icon {
    height: em(25px);
    width: em(25px);
    font-size: $big__font-size;
    padding: 8px 0 0 0;
    @include border-radius(20px,20px,20px,20px);
    color: $white!important;
    &.facebook{
        @include darkenBgColor($facebook-color);
    }
    &.twitter{
        @include darkenBgColor($twitter-color);
    }
    &.envelope{
        @include darkenBgColor($envelope-color);
    }
    &.instagram{
        background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
        background-size: 38px 38px;
        background-position: -2px -2px;
        background-repeat: no-repeat;
    }
}