// ==========================================================================
// Nav
// ==========================================================================
.navbar-default {
    background-color: $black;
    color: $light-white;
    text-transform: uppercase;
    letter-spacing: em(1px);
    font-weight: $font-weight--semi-bold;
    border-color: 0;
    .navbar-nav>li>a{
        color: $light-white!important;
        @include lightenBgColor($black);
    }
}
.icon-logo {
    float: left;
    span{
        color: $light-white;
        margin: 16px 10px 0 3px;
        display: block;
        float: left;
        font-weight: bold;
        letter-spacing: 0;
        @media (max-width: 450px){
            display:none;
        }
    }
    svg{
        float: left;
        width: em(50px);
        margin: em(6px) 0 0 0;
        path{
            fill: $light-white;
        }
    }
}
.nav>li {
    position: relative;
    display: inline-block;
}

