// ==========================================================================
// Search
// ==========================================================================
.search{
    padding: em(20px)!important;
    font-size: 21px;
    font-weight: bold;
    width: 87%!important;
    margin: em(20px) auto em(10px);
    background-color: $bg-color;
}
.mini-filters-wrapper {
    width: 87%!important;
    margin: 0 auto;
}
textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
    box-shadow: inset 0 -2px 0 $dark-grey;
}
textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
    padding: 0;
    border: none;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -2px 0 $light-grey;
    box-shadow: inset 0 -2px 0 $light-grey;
    text-align: center;
    font-size: 23px;
}
.btn-grey{
    color: $light-white;
    background-color: $dark-grey;
    border-color: $dark-grey;
    -webkit-transition: 0.25s linear;
    -moz-transition: 0.25s linear;
    -o-transition: 0.25s linear;
    transition: 0.25s linear;
}
.btn-grey:hover,.btn-grey:active,.btn-grey:focus {
    color: $white;
    background-color: $grey;
    outline: 0;
}
input.dorsal-searcher{
    font-size: 38px;
    font-weight: bold;
    width: 245px;
    height: 60px;
    margin: 30px auto 0px;
    border: 3px solid rgb(51, 51, 51);
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
input.dorsal-searcher:focus{
    border: 3px solid #e8a0b2!important;
}