<div class="container">
    <h1>Dashboard</h1>
    <ul class="list-group">
        <a class="list-group-item" ui-sref="add-rider">Crear ciclistas</a>
        <a class="list-group-item" ui-sref="edit-team">Crear/Editar equipos</a>
        <a class="list-group-item" ui-sref="edit-competitons">Crear/Editar competiciones</a>
    </ul>
    <input type="text" class="form-control" placeholder="Buscador de ciclistas" ng-model="vm.keywords" ng-Keydown="vm.isSubmit($event.keyCode)">
    <button type="submit" class="btn btn-default" ng-click="vm.findRiders()">Buscar</button>
    <div class="alert alert-success" role="alert" ng-if="vm.showMessage">{{vm.message}} {{vm.rider._id}} | {{vm.rider.team}}</div>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Equipo</th>
            <th class="righty">Nacionalidad</th>
            <th class="righty"></th>
            <th class="righty"></th>
        </tr>
        <tr ng-repeat=" rider in vm.riders ">
            <th>{{rider._id}}</th>
            <th>{{rider.team}}</th>
            <th class="righty">{{rider.country}}</th>
            <th class="righty">
                <a ui-sref="edit-rider({id: rider.safe_name})"><span class="glyphicon glyphicon-pencil"></span></a>
            </th>
            <th class="righty">
                <a href="#" data-toggle="modal" data-target="#myModal{{$index}}">
                    <span style="color: red" class="glyphicon glyphicon-remove"></span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">¿Eliminar ciclista {{rider._id}}?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="vm.removeRider($index)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </th>
        </tr>
    </table>
</div>
