<div class="container">
    <h1>Dashboard</h1>
    <ul class="list-group">
        <a class="list-group-item" ui-sref="add-rider">Crear ciclistas</a>
        <a class="list-group-item" ui-sref="edit-team">Crear/Editar equipos</a>
        <a class="list-group-item" ui-sref="edit-competitons">Crear/Editar competiciones</a>
    </ul>
    <input type="text" class="form-control" placeholder="Buscador de ciclistas" ng-model="vm.keywords" ng-Keydown="vm.isSubmit($event.keyCode)">
    <button type="submit" class="btn btn-default" ng-click="vm.findRiders()">Buscar</button>
    <table class="table table-striped">
        <tr>
            <th>Nombre</th>
            <th>Equipo</th>
            <th class="righty">Nacionalidad</th>
            <th class="righty"></th>
        </tr>
        <tr ng-repeat=" rider in vm.riders ">
            <th>{{rider._id}}</th>
            <th>{{rider.team}}</th>
            <th class="righty">{{rider.country}}</th>
            <th class="righty">
                <a ui-sref="edit-rider({id: rider.safe_name})"><span class="glyphicon glyphicon-pencil"></span></a>
                <a href="#" style="color: red"><span class="glyphicon glyphicon-remove"></span></a>
            </th>
        </tr>
    </table>
</div>
