<div class="container">
    <ul class="list-group creation-panel">
        <a class="list-group-item" ui-sref="add-rider">Crear ciclistas</a>
        <a class="list-group-item" ui-sref="edit-team">Crear/Editar equipos</a>
        <a class="list-group-item" ui-sref="edit-competitons">Crear/Editar competiciones</a>
        <a class="list-group-item" href="" data-toggle="modal" data-target="#addSeasonModal">Añadir Temporada (a corredores y competiciones)</a>
    </ul>
    <!-- Modal addSeason -->
    <div class="modal fade" id="addSeasonModal" tabindex="-1" role="dialog" aria-labelledby="addSeason">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Añadir temporada</h4>
                </div>
                <div class="modal-body">
                    <label for="">Año:</label>
                    <input type="number" ng-model="vm.newSeasonYear" class="form-control" min="1950" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="vm.addSeason()" data-dismiss="modal">Añadir</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    
    <div class="input-group">
        <input type="text" class="form-control riders-searcher" placeholder="Buscar ciclistas" ng-model="vm.keywords" ng-Keydown="vm.isSubmit($event.keyCode)">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-default search-btn" ng-click="vm.findRiders()">Buscar</button>
        </span>
        <div class="alert alert-success" role="alert" ng-if="vm.showMessage">{{vm.message}} {{vm.rider._id}} | {{vm.rider.team}}</div>
    </div>
    
    <table class="table table-results">
        <tr>
            <th>Nombre</th>
            <th>Equipo</th>
            <th class="righty">Nacionalidad</th>
            <th class="righty"></th>
            <th class="righty"></th>
            <th class="righty"></th>
        </tr>
        <tr ng-repeat=" rider in vm.riders ">
            <td>{{rider._id}}</td>
            <td>{{rider.team}}</td>
            <td class="righty">{{rider.country}}</td>
            <td class="righty">
                <a ui-sref="edit-rider({id: rider.safe_name})"><span class="glyphicon glyphicon-pencil"></span></a>
            </td>
            <td class="righty">
                <a ui-sref="edit-rider-season({safe_name: rider.safe_name})"><span  style="color: darkorange" class="glyphicon glyphicon-flag"></span></a>
            </td>
            <td class="righty">
                <a href="#" data-toggle="modal" data-target="#myModal{{$index}}">
                    <span style="color: red" class="glyphicon glyphicon-remove"></span>
                </a>
                <!-- Modal -->
                <div class="modal fade" id="myModal{{$index}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">¿Eliminar ciclista {{rider._id}}?</h4>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" ng-click="vm.removeRider($index)" data-dismiss="modal">Eliminar</button>
                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
