<loader ng-if="vm.showLoader"></loader>
<div ng-if="!vm.showLoader" class="container">
    <div class="container_teams">
            <h2 class="text-center headline-primary">Equipos ciclistas WorldTour</h2>
        <div class="row row-centered">
            <div itemtype="http://schema.org/SportsTeam" ng-repeat="team in vm.teams_WT" class="col-sm-3 col-centered text-center" ng-if="!team.retired">
                <!--<a ui-sref="team({id: team.safe_name, year: vm.year})">-->
                   <a ui-sref="team({id: team.safe_name, year: 2017})">
                    <img class="team-img shrink" ng-src="{{vm.getMaillot(team.safe_name)}}" ng-attr-alt="{{team._id}}" />
                </a>
                <div class="feature-description text-center">
                    <h3 class="headline-secondary" itemprop="name">{{team._id}}</h3>
                    <small class="show text-muted" itemprop="location">{{team.country}}</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h2 class="text-center headline-primary">Equipos ciclistas ProContinental</h2>
        <div class="row row-centered">
            <div itemtype="http://schema.org/SportsTeam" ng-repeat="team in vm.teams_PCT" class="col-sm-3 col-centered text-center" ng-if="!team.retired">
                <a itemprop="url" ui-sref="team({id: team.safe_name, year: vm.year})">
                    <img class="team-img shrink" ng-src="{{vm.getMaillot(team.safe_name)}}" ng-attr-alt="{{team._id}}" />
                </a>
                <div class="feature-description text-center">
                    <h3 class="headline-secondary" itemprop="name">{{team._id}}</h3>
                    <small class="show text-muted" itemprop="location">{{team.country}}</small>
                </div>
            </div>
        </div>
    </div>
</div>
