<div id="top">
	<br>
	<div class="col-md-4">
		<section class="panel no-b main-rider-card">
			<div class="panel-body">
				<div class="card-frame">
					<img ng-src="{{::vm.imageUrl}}" alt="">
				</div>
				<h2 class="text-center">{{::vm.rider._id}}</h2>
				<div class="rider-type yellow big-card text-center">
					<span style="vertical-align: middle;" class="{{::vm.rider.rol_icon}}"></span> <small itemprop="roleName" class="title ng-binding">{{::vm.rider.team_rol}}</small>
				</div>
				<p class="show age-card text-center">- {{::vm.rider.age}} años -</p>
				<p class="show text-center">Nacido en {{::vm.rider.lob}}
					<br/>el {{::vm.rider.dob | date:'dd/MM/yyyy'}}</p>
				<p class="show text-center">Nacionalidad: <img class="big-card-flag" itemprop="nationality" ng-src="{{::vm.rider.flag}}" alt=""></p>
				<div>
					<div class="victories-title text-center">Victorias como profesional:</div>
					<div class="victories-wrapper-card card">
						<div class="fa fa-trophy"></div>
						<small class="title ng-binding">{{::vm.rider.total_victories}}</small>
					</div>
				</div>
			</div>
			<div class="panel-footer no-p no-b">
				<div class="row no-m">
					<div class="col-xs-4 bg-primary p10 text-center brbl best-position-card giro">
						<div>Giro</div>
						<div class="victories-wrapper card">
							<div class="fa fa-trophy"></div>
							<small class="title ng-binding">{{::vm.rider.giroTotalVictories}}</small>
						</div>
					</div>
					<div class="col-xs-4 bg-info p10 text-center best-position-card tour">
						<div>Tour</div>
						<div class="victories-wrapper card">
							<div class="fa fa-trophy"></div>
							<small class="title ng-binding">{{::vm.rider.tourTotalVictories}}</small>
						</div>
					</div>
					<div class="col-xs-4 bg-primary p10 text-center brbr best-position-card vuelta">
						<div>Vuelta</div>
						<div class="victories-wrapper card">
							<div class="fa fa-trophy"></div>
							<small class="title ng-binding">{{::vm.rider.vueltaTotalVictories}}</small>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="col-md-8">
		<section class="panel panel-black no-b">
			<div class="palmacard" ng-repeat="season in vm.rider.seasons | orderBy: '-year'">
				<header class="panel-heading clearfix brtl brtr">
					<div class="season-year yellow pull-left">
						{{::season.year}}
					</div>

					<div class="card-total-victories yellow pull-left">
						<div class="fa fa-trophy"></div>
						<span>{{::season.totalVictories}}</span>
					</div>
					<span class="pull-right">
						<img itemprop="image" img="" ng-src="{{vm.getMaillot(vm.getRiderTeam(season.year), season.year)}}" class="little-jersey">
                        <!--<img itemprop="image" img="" ng-src="assets/images/teams_covers/2015/sky.png" class="little-jersey" src="assets/images/teams_covers/2015/sky.png" data-pin-nopin="true">-->
					</span>
					<span class="pull-right yellow team-season" ng-hide="(season.team == 'no defined') || (season.team == 'undefined')">{{::season.team}}</span>
				</header>
				<div>
					<table class="table table-hover palmares-table">
						<tbody>
							<tr ng-repeat="competition in season.palmares" ng-class="{tour: (competition.competition == 'Tour'), giro: (competition.competition == 'Giro'), vuelta: (competition.competition == 'Vuelta')}">
								<td class="cup" scope="row">
									<div class="fa fa-trophy"></div>
								</td>
								<td class="position">{{::competition.position}}</td>
								<td>{{::competition.competition}}</td>
								<td class="stages">Etapas: {{::competition.victories}}</td>
								<td class="position">{{::competition.category}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</section>
	</div>
</div>
